.App {
  text-align: center;
}
.my-app{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url(https://free4kwallpapers.com/uploads/originals/2019/09/29/a-financial-district-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}


